@page
@model MegaDeskASP.NetCore.Pages.Desks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].QuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].DeskWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].DeskDepth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].NumberOfDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].SurfaceMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].DeliveryChoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk[0].QuoteTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Desk) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeskWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeskDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfDrawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryChoice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteTotal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
